{% extends "home_base.html" %}

{% block home_content %}

<div class="container">
    <h4>Jadwal Kuliah </h4>
    <p>23-11-2000</p>
    <div class="border p-3 rounded" style="border:1px solid gray">
        <table class="table">
            <thead>
                <tr>
                  <th rowspan="2" style="vertical-align: middle">Kode</th>
                  <th rowspan="2" style="vertical-align: middle">Mata Kuliah</th>
                  <th rowspan="2" style="vertical-align: middle">Jam</th>
                  <th rowspan="2" style="vertical-align: middle">Hari</th>
                  <th rowspan="2" style="vertical-align: middle">Dosen</th>
                  <th rowspan="2" style="vertical-align: middle">SKS</th>
                </tr>   
              </thead>
            <tbody>
              <tr>
                <td style="text-align: center"> 123 TE</td>
                <td style="text-align: center">BELAJAR PROGRAMMING</td>
                <td style="text-align: center">10:00-12:00</td>
                <td style="text-align: center">Senin</td>
                <td style="text-align: center">Maulana.ST</td>
                <td style="text-align: center">2</td>    
              </tr>
              <tr>
                <td style="text-align: center"> 133 TE</td>
                <td style="text-align: center">SOSIALISTIK</td>
                <td style="text-align: center">8:00-10:00</td>
                <td style="text-align: center">Senin</td>
                <td style="text-align: center">MIFTAHUL FIQRI.ST</td>
                <td style="text-align: center">3</td>    
              </tr>
              <tr>
                <td style="text-align: center"> 141 TE</td>
                <td style="text-align: center">Arduino Camp</td>
                <td style="text-align: center">10:00-12:00</td>
                <td style="text-align: center">Selasa</td>
                <td style="text-align: center">Jurej Alhamdi.ST.M eng</td>
                <td style="text-align: center">4</td>    
              </tr>
              <tr>
                <td style="text-align: center"> 123 TE</td>
                <td style="text-align: center">BELAJAR PROGRAMMING</td>
                <td style="text-align: center">10:00-12:00</td>
                <td style="text-align: center">Senin</td>
                <td style="text-align: center">Maulana.ST</td>
                <td style="text-align: center">2</td>    
              </tr>

            </tbody>
          </table>
    </div>
</div>
    
{% endblock %}